.main {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.diary-entries {
  max-width: 75%;
  background-color: #282c34;
}

.black-ground {
  background-color: #282c34 !important;
}

.dates {
  display: flex;
  flex-direction: row;
  width: 100%;  
}

.stars {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: yellowgreen;
}

.star-toggle-button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
}
  
.star-toggle-button.selected {
  color: yellowgreen;
}
  
.star-toggle-button::before {
  content: '☆';
  color: #ccc; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.star-toggle-button.selected::before {
  content: '★';
  color: yellowgreen;
}

.right-float {
  float: right;
}

.space {
  margin-right: 0.2rem;
}

.editable-field {
  border: 1px solid black;
  background-color: beige;
  width: 90%;
}

.top-right-element {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}